<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis Predios</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Estilos de Bootstrap con tema Cyborg de Bootswatch -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/cyborg/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Predios Registrados</h1>
        <!-- Botón de Cerrar Sesión -->
        <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Predio</button>
        <button class="btn btn-danger mb-3" onclick="logout()">Cerrar sesión</button>

        <% if (Array.isArray(datos)) { %>
          <% datos.forEach(function(contacto, index) { %>
            <% if (index % 3 === 0) { %>
              <div class="row">
            <% } %>

            <div class="col-md-4 mb-3">
              <div class="card">
                <img src="http://localhost:3000/images/<%= contacto.foto %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= contacto.nombre %> <%= contacto.apellido_paterno %> <%= contacto.apellido_materno %></h5>
                  <p class="card-text">Teléfono: <%= contacto.telefono %></p>
                  <p class="card-text">Email: <%= contacto.email %></p>
                  <p class="card-text">Fecha de Nacimiento: <%= contacto.fecha_nacimiento.getDate() %>/<%= contacto.fecha_nacimiento.getMonth() + 1 %>/<%= contacto.fecha_nacimiento.getFullYear() %></p>
                  <button class="btn btn-warning" onclick="show_editar(this);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>
                  </button>
                  <button class="btn btn-danger" onclick="eliminar(this);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 24 24">
                        <path d="M21 4h-4V3a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v1H3a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h1v14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7h1a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zM9 4V3h6v1H9zm8 16H7a1 1 0 0 1-1-1V7h12v12a1 1 0 0 1-1 1zm-2-10a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v1a1 1 0 0 1-1 1zm-6 0a1 1 0 0 1-1-1V8a1 1 0 0 1 2 0v1a1 1 0 0 1-1 1z"/>
                    </svg>
                </button>      
                </div>
              </div>
            </div>

            <% if ((index + 1) % 3 === 0 || index === datos.length - 1) { %>
              </div>
            <% } %>
          <% }) %>
        <% } %>
      </div>
    </div>
  </div>
</body>
</html>
